section {
    background-color: pink;
    width: 800px;
    height: 800px;
}

div {
    background-color: black;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 2em;
    margin: 1em;
}

h3{
    font-size: 1.5em;
}

article {
    font-size: 15px;
}

p {
    font-size:1em;
}

button {
    font-size:3em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: green;
    color: white;
}