h1{
	color: rgba(0,200,100,0.8);
	border-color: white;
	border-width: 2px;
	border-style: dashed;
}

h2{
	color: rgba(0,200,100,0.2);

	border: 3px solid yellow;
}

h3{
	color: rgba(0,200,100,0.6);
}

h4{
	color: rgba(0,0,250,0.9);
	background: rgb(255,100,80);
}

h5{
	color: rgb(255,0,0);

}

li{
	color: #F400DD;
}


body{
	background: url(https://th.bing.com/th/id/OIP.NOvi0f6dFj8LWxvg2keMVgHaD3?pid=Api&rs=1);
	background-repeat: no-repeat;
	background-size: cover;
}